---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import CatchBand from '../components/CatchBand.astro';
import Features from '../components/Features.astro';
import HowToPlay from '../components/HowToPlay.astro';
import Gallery from '../components/Gallery.astro';
import Rewards from '../components/Rewards.astro';
import Character from '../components/Character.astro';
import DownloadCTA from '../components/DownloadCTA.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Header />
  <main>
    <Hero />
    <CatchBand />
    <Features />
    <HowToPlay />
    <Gallery />
    <Rewards />
    <Character />
    <DownloadCTA />
    <Faq />
  </main>
  <Footer />
</Base>
